@import url(graphikarabic.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  background: #f6f7f8;
  font-family: "Graphik Arabic Web Regular";
}

/********** Header **********/

#header {
  background-color: #f5f5f5;
  height: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.esaal_sub_header {
  font-family: "Graphik Arabic Web Regular";
  font-weight: bold;
  color: #015050;
  margin: 30px auto;
}

/********** Section 1 ************/
.services-icon {
  background-image: url(../img/services.svg);
  background-position: center;
  width: 18px;
  height: 27px;
  background-size: 17px 18px;
  background-repeat: no-repeat;
}

.bookings-icon {
  background-image: url(../img/bookings.svg);
  background-position: center;
  width: 18px;
  height: 30px;
  background-size: 18px 20px;
  background-repeat: no-repeat;
}

.prescription-icon {
  background-image: url(../img/Prescription.svg);
  background-position: center;
  width: 18px;
  height: 27px;
  background-size: 18px 20px;
  background-repeat: no-repeat;
}

.chats-icon {
  background-image: url(../img/chaticon.svg);
  background-position: center;
  width: 19px;
  height: 27px;
  background-size: 19px 18px;
  background-repeat: no-repeat;
}

.medical-icon {
  background-image: url(../img/medical.svg);
  background-position: center;
  width: 32px;
  height: 35px;
  background-size: 32px 35px;
  background-repeat: no-repeat;
}

.mentalhealth-icon {
  background-image: url(../img/mentalhealth.svg);
  background-position: center;
  width: 32px;
  height: 35px;
  background-size: 32px 35px;
  background-repeat: no-repeat;
}

.nutrition-icon {
  background-image: url(../img/nutrition.svg);
  background-position: center;
  width: 32px;
  height: 35px;
  background-size: 32px 35px;
  background-repeat: no-repeat;
}
.video-icon {
  background-image: url(../img/video.svg);
  background-position: center;
  width: 28px;
  height: 30px;
  background-size: 28px 30px;
  background-repeat: no-repeat;
}
.call-icon {
  background-image: url(../img/call-2.svg);
  background-position: center;
  width: 28px;
  height: 37px;
  background-size: 28px 30px;
  background-repeat: no-repeat;
}
.chatting-icon {
  background-image: url(../img/chatting.svg);
  background-position: center;
  width: 28px;
  height: 37px;
  background-size: 28px 30px;
  background-repeat: no-repeat;
}
.footer {
  background: #fff!important;
  width: 100%!important;
  height: 65px!important;
  position: fixed!important;
  bottom: 0!important;
  padding-top: 5px!important;
  border-top: 0.5px solid #ddd!important;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 98%;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  cursor: pointer;
}

/*.active {
  color: #3fbca1;
}*/

.menu-btn p {
  font-size: 12px;
}

.service-btn {
  background: #fff;
  height: 68px;
  padding: 13px 10px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #0000000D;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.service-btn p {
  margin-bottom: 0;
  color: #636363;
  font-family: 'Graphik Arabic Web Medium';
  font-size: 18px;
}
.close_btn {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 26px;
  cursor: pointer;
  z-index: 5555555555;
}
@media (max-width: 767px) {}


.modalbody {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  background: #f4f4f4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.logomodal {
  width: 100%;
  position: relative;
  top: 84px;
  left: -2px;
  margin: 10px auto;
}


@media (max-width: 575.98px) {
  .modalbody {
    flex-direction: column;
    box-shadow: none;
  }
}

/* Basic Navbar Styling */
.navbar {
    display: flex !important;
    justify-content: space-between !important;
    /* space between sign-in and logo */
    align-items: center !important;
    padding: 12px 20px !important;
    background-color: #ffffff;
    border-bottom: 0.5px solid #ddd;
}

/* Responsive (Mobile) */
@media (max-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between!important;
    padding: 14px 2px!important;
  }

}

@media (max-width: 767px) {
    .container {
        max-width: 100%!important;
    }
}

@media (max-width: 767px) {
    .logo {
        margin-left: unset!important;
    }
}